html{
    background-color: #1b1a17;
    color: white;
    overflow-x: hidden;
    margin: 0;
}

*{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}