.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #e45926;
    width: 30vw;
    border-radius: 99999rem;
    margin: 1vw;
    z-index: 50;
}

.navBar a{
    margin: 0;
    padding: 0.7vw;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

.downloadCV{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e45826;
    padding: 0.7vw;
    border-radius: 0.5vw;
    border: none;
    color: white;
    margin: 1vw;
    cursor: pointer;
    font-size: 1vw;
    text-decoration: none;
    transition: 0.2s;
}

.downloadCV:hover{
    transform: scale(1.2);
    background-color: #1b1a17;
}

.navBar a:hover{
    background-color: #1b1a17;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .navBar{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .navBar a{
        padding: 5vw;
        font-size: 3vw;
    }
}